@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/code.css');

* {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

body {
    padding-top: 50px;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    background-color: #332D2A;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: background-color 1.5s;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, p {
    color: #000;
    padding-bottom: 0;
}

.title-text {
    font-size: 70px;
}

.big-text {
    font-size: 50px;
}

.med-text {
    font-size: 40px;
}

.normal-text {
    font-size: 20px;
}

.small-text {
    font-size: 16px;
}

.intro-text {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.links-text {
    font-size: 16px;
    color: #FF6D2E;
    text-decoration: underline;
}

.bold {
    font-weight: 2000;
}

.button {
    padding: 15px 25px;
    background: crimson;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
}


.logo2 {
    max-height: 35px;
    width: 100%;
}

.mt-0 {
    margin-top: 10px;
}

.mt-1 {
    margin-top: 50px;
}

.mt-2 {
    margin-top: 100px;
}

.mt-3 {
    margin-top: 150px;
}

.ml-1 {
    margin-left: 50px;
}

.ml-2 {
    margin-left: 100px;
}

.ml-3 {
    margin-left: 150px;
}

.mr-3 {
    margin-right: 150px;
}

.mb-3 {
    margin-bottom: 150px;
}

.tw {
    color: #fff;
}

.tbl {
    color: #154D6D;
}

.tbkg {
    color: #FAF1E2;
}

.tred {
    color: #8C452B;
}

.center {
    display: flex;
    text-align: center;
    align-items: center;
}

.bottomRight {
    display: block;
    position: fixed;
    bottom: 40px;
    right: 50px;
}

.img_center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.border {
    border-radius: 20px;
}



/* END BEST STYLE */

.navbar {
    position: fixed;
    top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #FF6D2E;
    color: #fff;
    justify-content: space-between;
}

    .navbar a {
        color: white;
    }

    .navbar .nav-links ul {
        display: flex;
    }

        .navbar .nav-links ul li {
            margin: 15px;
        }

            .navbar .nav-links ul li.active a {
                margin: 0 0px;
                color: #FF6D2E;
                font-weight: 600;
            }

.sideMenu {
    position: fixed;
    display: flex;
    top: 0px;
    right: 0px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #FF6D2E;
    color: #fff;
    border: 2px solid;
    border-right: 0px;
    transition: .5s;
    transform: translateX(100%)
}

.openSideMenu {
    transform: translateX(0%)
}

    .sideMenu a {
        color: white;
    }

    .sideMenu .nav-links {
        justify-content: space-between;
        flex-direction: column;
        display: flex;
    }

    .sideMenu .nav-links ul {
        display: flex;
        flex-direction: column;
    }

        .sideMenu .nav-links ul li {
            margin: 10px;
        }

            .sideMenu .nav-links ul li.active a {
                margin: 0 0px;
                color: #FF6D2E;
                font-weight: 600;
            }

.navchatbar {
    display: flex;
    position: fixed;
    margin: 50px 20px 0px 20px;
    align-items: center;
}

.chatBox {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 120px 20px 0px 20px;
    top: 50px;
    bottom: 85px;
    overflow-y: scroll;
}

    .chatBox::-webkit-scrollbar {
        width: 12px;
    }

    .chatBox::-webkit-scrollbar-track {
        background-color: #1A1A1A;
        border-radius: 6px;
    }

    .chatBox::-webkit-scrollbar-thumb {
        background-color: #575980;
        border: 2px solid #1A1A1A;
        border-radius: 5px;
    }

.chatInputBox {
    border: 2px solid #FF6D2E;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: #1A1A1A;
    padding: 5px 0px 5px 0px;
    margin: 0px 20px 20px 20px;
}

.iconaMenu {
    font-size: 18px;
    margin-right: 5px;
    cursor: pointer;
}

.iconaEmoji {
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.iconaInvio {
    font-size: 18px;
    margin-left: 3px;
    margin-right: 10px;
}

.ProfileImage {
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    border-color: white;
    border: 2px solid;
    bottom: 0px;
    left: 0px;
}

.ArtistImage {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 50%;
    border: 2px solid white;
}

.Name {
    margin-top: 5px;
    margin-bottom: 10px;
}

.incomingMessage {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 10px;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    background-color: #575980;
    margin: 5px;
    width: fit-content;
    max-width: 80%;
    word-wrap: break-word;
}

.sentMessage {
    padding: 10px;
    background-color: #FF6D2E;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    margin: 5px 5px 5px auto;
    width: fit-content;
    max-width: 80%;
    word-wrap: break-word;
}

.UserLoggedImage {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 50%;
    border: 2px solid white;
}

.squareButton {
    border-radius: 15px;
    border: 2px solid;
    border-color: #FF6D2E;
    background-color: #FF6D2E;
    width: 300px;
    height: 50px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: .5s;
}

    .squareButton:hover {
        background-color: #332D2A;
        color: #FF6D2E;
    }

.roundButton {
    border-radius: 15px;
    border: 2px solid;
    border-color: #FF6D2E;
    background-color: #FF6D2E;
    width: 30px;
    height: 30px;
    font-size: 16px;
    color: white;
    transition: .5s;
    margin: 0px 15px 0px 15px;
}

    .roundButton:hover {
        background-color: #332D2A;
        color: #FF6D2E;
    }

.sendButton {
    border-radius: 15px;
    border: 1px solid;
    border-color: #FF6D2E;
    background-color: #FF6D2E;
    width: 30px;
    height: 30px;
    font-size: 16px;
    color: white;
    transition: .5s;
    margin: 0px 15px 0px 15px;
}

    .sendButton:hover {
        background-color: #1A1A1A;
        color: #FF6D2E;
    }

.emojiButton {
    border: 0px;
    background-color: transparent;
    width: 40px;
    height: 40px;
    font-size: 16px;
    margin-right: 10px;
}

.traspBox {
    border: none;
    background-color: transparent;
    height: 44px;
    width: 100%;
    padding-inline: 15px;
    font-size: 16px;
    color: white;
}

@media (max-width: 425px) {
    .big-text {
        font-size: 40px;
    }

    .intro-text {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
    }

    .ml-1 {
        margin-left: 20px;
    }

    .ml-3 {
        margin-left: 20px;
    }

    .mr-3 {
        margin-right: 0px;
    }

    .mt-1 {
        margin-top: 25px;
    }

    .navbar .nav-links ul {
        display: block;
    }

    .navchatbar {
        margin: 75px 20px 0px 20px;
    }

    .chatBox {
        margin: 145px 20px 0px 20px;
        max-height: 73%;
    }
}
